{% extends "base.html" %}

{% block title %}Hist Cripto{% endblock %}
{% block content %}
    <h1>Histórico da Carteira Cripto</h1>

    <table class="">
        <thead>
            <th>Ticker</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Data</th>
        </thead>
        {% for cripto in usuario.hist_cripto %}
            <tr>
                <td>{{cripto.ticker}}</td>
                <td>{{cripto.descricao}}</td>
                <td>$ {{cripto.preco}}</td>
                <td>{{cripto.quantidade}}</td>
                <td>$ {{cripto.valor}}</td>
                <td>{{cripto.tipo}}</td>
                <td>{{cripto.data}}</td>
            </tr>
        {% endfor %}
    </table>



{% endblock %}